<div class="container">
  <div class="h3">いいねランキング <i class="fa-solid fa-crown" style="color: #FFD43B;"></i></div>
    <div class="row">
    <%= render "public/posts/list", posts: @posts %>
  </div>
</div>