<div class="container">
  <div class="h3"><%= @user.name %>がフォローしているユーザー一覧</div>
  
  <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left-long">戻る</i></a>s="fa-solid fa-arrow-left-long">戻る</i>
  <% end %>
  
  <div class="my-5">
    <% if @users.exists? %>
      <%= render "public/users/user", users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>