<div class="container">
  <h3 class="mt-5">フォロワー一覧</h3>
  
  <%= link_to user_path(@user) do %>
    <i class="fa-solid fa-arrow-left-long">戻る</i>
  <% end %>
  <div class="my-5">
  <% if @users.exists? %>
    <%= render 'public/users/user', users: @users %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
  </div>
</div>