<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="h1">with Animals</div>
      <p>動物のいる生活を過ごしてみませんか？</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
      <div class="mb-3">
        <%= link_to "ユーザーログイン",  new_user_session_path, class: "btn btn-block btn-info" %>
      </div>
      <div class="mb-3">
        <%= link_to "新規登録",  new_user_registration_path, class: "btn btn-block btn-success" %>
      </div>
      <div class="mb-3">
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-block btn-secondary sign_in", method: :post %>
      </div>
    </div>
  </div>
</div>
 
  