<div class="col-md-6 mx-auto mt-5">
  
  
  
  <div class="row">
    <p class="ml-3">
      <%= link_to "Log in",  new_user_session_path, class: "btn btn-info" %>
    </p>
    <p class="ml-3">
      <%= link_to "Sign up",  new_user_registration_path, class: "btn btn-success" %>
    </p>
    <p  class="ml-3">
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary sign_in", method: :post %>
    </p>
  </div>
  
</div>

 
  