<% if errors.any? %>
  <ul class="alert alert-danger text-left" role="alert">
    <div class="h6 alert-heading">
      <%= errors.count %>件のエラーが発生しました
    </div>
    <% errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
