<h1>Animals#index</h1>

<div>
  <% @animals.each do |animal| %>
  <div>
    <%= link_to user_animal_path(user_id: animal.user_id, id: animal.id) do %>
      <%= image_tag animal.get_animal_image(100,100) %>
      <%= animal.name %>
    <% end %>
  </div>
  <% end %>
</div>
