<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorite_path(post), method: :delete, remote: true do %>
      <i class="fa-solid fa-heart" style="color: red;"></i>
      <span class="text-dark"><%= post.favorites_count %> いいね</span>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorite_path(post), method: :post, remote: true do %>
      <i class="fa-regular fa-heart" style="color: red;"></i>
      <span class="text-dark"><%= post.favorites_count %> いいね</span>
    <% end %>
  </p>
<% end %>