<div class="container">
  <div class="h3 ">お気に入り</div>
  
  <%= link_to user_path(current_user) do %>
    <i class="fa-solid fa-arrow-left-long">戻る</i>
  <% end %>
  
  <% if @posts.present? %>
    <%= render "public/posts/list", posts: @posts %>
  <% else %>
    <%= flash.now[:notice] %>
  <% end %>

</div>