<div class="container">
  <div class="h3 ">お気に入り</div>
  
  <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left-long">戻る</i></a>
  
  <%= render "public/posts/list", posts: @posts %>

</div>