<div class="container">
  <div class="h3"><%= @category.name %>の投稿一覧</div>
  <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left-long">戻る</i></a>
  
  <%= render "public/posts/list", posts: @posts %>

</div>