<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 mt-3">
      <%= link_to admin_users_path do %>
        <div class="h5 text-dark">ユーザー管理</div>
      <% end %>
      <%= link_to admin_categories_path do %>
        <div class="h5 text-dark">カテゴリー管理</div>
      <% end %>
    </div>
  </div>
</div>