<div class="container">
  <div class="d-md-flex">
    <div class="h3 mr-5">ユーザー一覧</div>

    <%= form_with url: users_path, method: :get do |f| %>
      <%= f.text_field :name, value: params[:name] %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
<%= render 'user', users: @users %>
</div>